body.help {
  background-color: #F0EFE3;
  font-size: 16px;
  line-height: 1.5em;
}

body.help #head {
  width: 800px;
  margin: 30px auto;
  height: 50px;
}

body.help #home {
  background: url(/public/img/logo-50x50.png) left center no-repeat;
  padding-left: 66px;
  line-height: 50px;
  font-size: 28px;
  color: #E70079;
  float: left;
  font-weight: bold;
}

body.help #runorg {
  float: right;
  line-height: 50px;
  color: #888;
  height: 50px;
} 

body.help #page {
  width: 800px;
  margin: 30px auto;
  background-color: #555;
  border-radius: 16px;
  padding: 8px;
}

body.help #page > .inner {
  border: 3px solid #333;
  border-radius: 8px;
  padding: 32px;
  background-color: white;
  overflow: hidden;
  color: #333;
  padding-bottom: 40px;
}

body.help h1 {
  margin: -32px -32px 32px;
  padding: 16px;
  border-bottom: 1px solid #CCC;
  background-color: #EEE;
  line-height: 32px;
  font-size: 28px;
  color: #333;
}

body.help h2 {
  margin-top: 50px;
  color: #333;
}

body.help a.also {
  display: block;
  overflow: hidden;
  text-align: right;
  color: #080;
  padding: 4px 16px;
  line-height: 20px;
  font-size: 14px;
}

body.help a.also:hover span {
  text-decoration: underline;
}

body.help a.also span {
  display: inline-block;
  padding: 0 20px;
  background: url(/public/icon/bullet_go.png) left center no-repeat transparent;
}

body.help ul {
  margin: 16px 0;
  padding: 0;
  list-style-type: none;
}

body.help li {
  margin-bottom: 8px;
  padding-left: 20px;
  background: url(/public/icon/bullet_blue.png) 0px 5px no-repeat;
}

body.help .screenshot {
  border: 1px solid #CCC;
  background-color: #EEE;
  color: #111;
  padding: 1px 1px 5px;
  margin: 30px -2px; 
  text-align: center;
  font-size: 13px;
}

body.help .screenshot img {
  display: block;
  margin-bottom: 5px;
}

body.help .interesting {
  background: url("img/help-greyscale.png") no-repeat scroll 32px center #EEE;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  font-size: 13px;
  margin: 20px -32px;
  padding: 10px 32px 10px 80px;
}


body.help pre {
  background-color: #DDDDDD;
  font-size: 12px;
  padding: 12px;
}
